ul.container {
	display: flex;
	align-items:center;}

ul{	background-color:blue;
	float:center;
	text-align:center;
	height:50px;
	width:100%;
	margin:0;
	padding:0;
	vertical-align:middle;
}
li{  display:inline;
	width:100%;
	font-family:sans-serif;
	font-size:26;
	position: relative;
}
a{ color:white;
	float:center;
	padding:1ex;
	font-weight: bold;
	text-decoration:none;
}
ul li a:hover{
color:white;
background-color: #369;
}
body{ background-color:lightgrey; margin:0; padding:0;}
img{height:65%;
	width: 94.5%;
	padding-left:35px;
	padding-right:35px;
	float:center;
}
.rowAligned{margin:2% 1% 0px 10%;}
.circleDiv{
    width: 25%;
    height: 40%;
    background:blue;
    border: 10px solid blue;
	border-radius:50%;
	margin:12px;
	float:left;
}
@media screen and (min-width: 980px) /* Desktop */ {
}

@media screen  and (max-width:979px) /* Tablet */ {
  li{display:inline;
	width:95%;
	font-family:sans-serif;
	font-size:16;
	position:relative;
}
img{height:65%;
	width:95%;
	padding-left:14px;
	padding-right:10px;
	float:center;
}
.rowAligned{margin:2% 0% 0px 35%;}
.circleDiv{
    width: 50%;
    height:50%;
    background:blue;
    border:10px solid blue;
	border-radius:50%;
	margin:10 auto;
	padding-top:2px;
	padding-bottom:2px;
	clear:both;
}
}

@media screen and (max-width:500px) /* Mobile */ {
li{  display:inline;
	width:100%;
	font-family:sans-serif;
	font-size:16;
	position: relative;
}
img{height:65%;
	width: 94.5%;
	padding-left:10px;
	padding-right:15px;
	float:center;
}
.rowAligned{margin:2% 0 0 20%;
			float:center;
}
.circleDiv{
    width:60%;
    height:60%;
    background:blue;
    border: 10px solid blue;
	border-radius:50%;
	margin:12px;
	float:center;
}
}
div.heading{
	display: flex;
	align-items:center;
	background-color:blue;
	float:center;
	text-align:center;
	height:50px;
	margin:2% 2% 0 2%;
	padding-left:2%;
	color:white;
	font-size:26;
	font-weight: bold;
	text-decoration:none;
}
.content{
margin-left:2%;
margin-right:2%;
font-size:18;
background-color:white;
}